<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicamper.test.web.members.host.sql.FindIDMapper">

	<select id="hostfind_id" parameterType="String" resultType="String">
		SELECT id 
		FROM host 
		WHERE email = #{email}
	</select>

	<select id="userfind_id" parameterType="String" resultType="String">
		SELECT id 
		FROM user 
		WHERE email = #{email}
	</select>
</mapper>